<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2009 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.android.BluetoothChat"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/app_icon" >
        <activity android:name=".BluetoothChat"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
         <activity
            android:name="com.li.mainactivity.MainActivity"
            android:label="main activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.li.listActivity.ListViewActivity"
            android:label="listview activity" >
        </activity>
        <activity
            android:name="com.li.personInfoActivity.PersonInfoActivity"
            android:label="PersonalInfo activity" >
        </activity>
        <activity
            android:name="com.li.selectActivity.SelectActivity"
            android:label="Select activity" >
        </activity>
        <activity
            android:name="com.li.resultActivity.ResultActivity"
            android:label="result activity" >
        </activity>
        <activity
            android:name="com.li.casehistory.CaseHistoryActivity"
            android:label="casehistory activity" >
        </activity>
        <activity
            android:name="com.li.receive.ReceiveActivity"
            android:label="receive activity" >
        </activity>
        <activity
            android:name="com.li.privacy.PrivactListActivity"
            android:label="privacy list activity" >
        </activity>
        <activity
            android:name="com.li.privacy.PrivacyActivity"
            android:label="privacy activity" >
        </activity>
        <activity
            android:name="com.li.privacy.PrivacyCheckActivity"
            android:label="privacy activity" >
        </activity>
         <activity
            android:name=".BluetoothReceiver"
            android:configChanges="orientation|keyboardHidden"
            android:label="bluetooth receiver" >
        </activity>
       
    </application>
</manifest>
